.aboutBackground{
    position: absolute;
    width: 59.0277777778%;
    height: 59.2222222222%;
    left: 20.4861111111%;
    top: 15.6666666667%;

    background: #2E2F38;
    mix-blend-mode: normal;
}

.aboutTitle{
    position: absolute;
    left: 39%;
    top: 19.5555555556%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.aboutDescription{
    position: absolute;
    width: 41.3888888889%;
    height: 29.5555555556%;
    left: 29.375%;
    top: 29.4444444444%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}