.content{
    margin-left: 75px;
    margin-top: 123px;
    width: 1290px;
}

.collectiblesFooter{
    width: 1440px;
    height: 177px;
    margin-top: 100px;

    background: rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}

.card{
    /* position: absolute; */
    width: 300px;
    height: 308px;

    background: #2E2F38;
    mix-blend-mode: normal;
}

.fileName{
    position: absolute;
    width: 274px;
    height: 38px;
    left: 13px;
    top : 201px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF; 
}

.detailButtonText{
    position: absolute;
    width: 35px;
    height: 16px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3BCCFA;
}

.detailButtonText:hover{
    cursor: pointer;
}

.editedImg-container {
    overflow: hidden;
    height: 190px;
    max-height: 300px;
    position: relative;
}

.editedImg {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
 }

 .pdfBackground{
    position: absolute;
    width: 300px;
    height: 201px;
    
    background: #1A1B20;
 }

 .detailBackground{
    position: absolute;
    width: 299px;
    height: 100px;
    top: 304px;

    background: #2E2F38;
    mix-blend-mode: normal;
 }

 .date{
    position: absolute;
    height: 16px;
    left: 13px;
    top: 308px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    color: rgba(255, 255, 255, 0.8);    
 }

 .detailText{
    position: absolute;
    width: 274px;
    height: 57px;
    left: 13px;
    top: 330px;
    font-family: Open Sans;
    font-style:  normal; 
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    align-items: center;
    color: #FFFFFF; 
    line-break: auto;

 }

 .shareBackground{
    position: absolute;
    left: 75px;
    top: 123px;
    width: 1290px;
    height: 500px;
    background-color: #ffffff;
 }

 .shareBackground svg{
    position: absolute;
    left: 545px;
    top: 75px;
 }