.content{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 15%;
}   

.card{
    width: 100%;
    height: 40vh;

    background: #2E2F38;
    mix-blend-mode: normal;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fileName{
    position: absolute;
    width: 80%;
    left: 4.333333333%;
    top : 75%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    display: flex;
    align-items: center;
    line-break: auto;


    color: #FFFFFF; 
}

.detailButtonText{
    position: absolute;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3BCCFA;
}

.detailButtonText:hover{
    cursor: pointer;
}

.editedImg-container {
    overflow: hidden;
    height: 70%;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.editedImg {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
 }

 .pdfBackground{
    position: absolute;
    width: 100%;
    height: 70%;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    background: #1A1B20;
 }

 .detailBackground{
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 100%;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    background: #2E2F38;
    mix-blend-mode: normal;
 }

 .date{
    position: absolute;
    left: 4.333333333%;
    top: 102%;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8vw;
    
    color: rgba(255, 255, 255, 0.8);    
 }

 .detailText{
    position: absolute;
    width: 80%;
    left: 4.333333333%;
    top: 109%;
    font-family: Open Sans;
    font-style:  normal; 
    font-weight: 600;
    font-size: 1vw;
    align-items: center;
    color: #FFFFFF; 
    line-break: auto;
 }

 .shareBackground{
    position: absolute;
    left: 36.1111111111%;
    top: 14.9817295981%;
    width: 27.7777777778%;
    height: 60.9013398295%;
    background-color: #D3D3D3;
    border-radius: 15px;
 }

 .linkQRBackground{
    position: absolute;
    left: 12.5%;
    top: 62%;
    width: 75%;
    height: 10%;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
 }

 .qrText{
    position: absolute;
    top: 4%;
    left: 3.333333333%;
    width: 91.666666666%;
    height: 76%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9vw;

    line-break: anywhere;
    color: #000000; 
}

.qrSave{
    position: absolute;
    left: 31.25%;
    top: 80%;
    width: 37.5%;
    height: 10%;
    background-color: #ffffff;
    border-radius: 15px;
}

.qrSave:hover{
    cursor: pointer;
}

.qrSaveText{
    position: absolute;
    left: 6.666666666%;
    top: 20%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3BCCFA;
}