body{
    background-image: url("./../assets/backgroundImage.png");
}

.edited-container {
    overflow: hidden;
    position: relative;

    margin-left: 25%;
    margin-top: 5%;

    width: 50%;
    height: auto;
    border-radius: 15px;

    mix-blend-mode: normal;
}

.edited {
    display: block;
    width: 100%;
    height: auto;
 }

.verifyPdfBackground{
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    height: auto;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: inherit;
}

.verifyPdfImage{
    width: 150px;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

a:link, a:visited {
    color: white;
}

.verifyButton{
    margin-left: 35%;
    margin-top: 5%;
    width: 30%;
    height: 38px;
    

    background: rgba(255, 255, 255, 0.7);
    mix-blend-mode: screen;
    border-radius: 100px;
}

.verifyButton:hover{
    cursor: pointer;
}

.verifyText{
    width: 100%;
    height: 100%;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: #052D79;
}

.verifyBackground{
    margin-left: 20%;
    margin-top: 5%;

    width: 60%;
    height: 35%;
    border-radius: 15px;

    background: #ffffff;
    display: flex;
    position: relative;
    align-items: center;
}

.verifyCloseButton{
    right: 10px;
    top: 10px;
    height: 8%;
    width: auto;
    position: absolute;
}

.verifyCloseButton:hover{
    cursor: pointer;
}

.verifyProgress{
    margin-left: 8%;
    width: 3%;
    height: 70%;
}

.verifyProgressBar{
    height: 0;
    width: 100%;
    background: linear-gradient(179.95deg, #23B1EE -3.46%, #F84949 112.7%);
    border-radius: 100px;
}

.verifyDetail{
    margin-left: 10%;
    height: 70%;
}

@media (width: 1440px) {
    .bigCheckIcon{
        width: 25px;
        height: auto;
        margin-right: 5%;

        filter: drop-shadow(0px 4px 4px rgba(84, 114, 174, 0.2));
    }

    .applicationLogo{
        position: absolute;
        width: 170px;
        height: auto;
        left: 75px;
        top: 18px
    }

    .txDetailFileName{
        margin-left: 20%;
        margin-top: 3%;
        width: 70%;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 140%;
        line-height: 19px;
    
        color: #3BCCFA
    }
    .txDetailText{
        margin-left: 20%;
        margin-top: 3%;
        width: 70%;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        line-height: 19px;
    
        color: #ffffff
    }

    .verifyAlertText1{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
    
        color: #000000;
    }

    .verifyAlertText2{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 32%;
    
        color: #000000;
    }

    .verifyAlertText3{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 25%;
    
        color: #000000;
    }

    .verifyAlertText4{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 11%;
    
        color: #000000;
    }

    .verifyAlertText5{
        font-family: Open Sans;
        font-style: normal;
        font-size: 100%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 90%;
    
        color: #000000;
    }

   .checkBoxVerify1{
        position: absolute;
        left: 64px;
        top: 40px;
        height: 35px;
   }
   .checkBoxVerify2{
        position: absolute;
        left: 64px;
        top: 125px;
        height: 35px;
   }
   .checkBoxVerify3{
        position: absolute;
        left: 64px;
        top: 218px;
        height: 35px;
   }
}

@media (width: 1024px) {
    .bigCheckIcon{
        width: 20px;
        height: auto;
        margin-right: 5%;

        filter: drop-shadow(0px 4px 4px rgba(84, 114, 174, 0.2));
    }
    .applicationLogo{
        position: absolute;
        width: 150px;
        height: auto;
        left: 50px;
        top: 20px
    }
    .txDetailFileName{
        margin-left: 20%;
        margin-top: 3%;
        width: 70%;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 120%;
        line-height: 19px;
    
        color: #3BCCFA
    }
    .txDetailText{
        margin-left: 20%;
        margin-top: 3%;
        width: 70%;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 19px;
    
        color: #ffffff
    }

    .verifyAlertText1{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
    
        color: #000000;
    }

    .verifyAlertText2{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 32%;
    
        color: #000000;
    }

    .verifyAlertText3{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 21%;
    
        color: #000000;
    }

    .verifyAlertText4{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 11%;
    
        color: #000000;
    }

    .verifyAlertText5{
        font-family: Open Sans;
        font-style: normal;
        font-size: 90%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 80%;
    
        color: #000000;
    }

   .checkBoxVerify1{
        position: absolute;
        left: 45px;
        top: 35px;
        height: 26px;
   }
   .checkBoxVerify2{
        position: absolute;
        left: 45px;
        top: 112px;
        height: 26px;
   }
   .checkBoxVerify3{
        position: absolute;
        left: 45px;
        top: 185px;
        height: 26px;
   }
}

@media (width: 412px) {
    .bigCheckIcon{
        width: 15px;
        height: auto;
        margin-right: 5%;

        filter: drop-shadow(0px 4px 4px rgba(84, 114, 174, 0.2));
    }
    .applicationLogo{
        position: absolute;
        width: 60px;
        height: auto;
        left: 20px;
        top: 20px
    }

    .txDetailFileName{
        margin-left: 20%;
        margin-top: 3%;
        width: 70%;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 100%;
        line-height: 19px;
    
        color: #3BCCFA
    }
    .txDetailText{
        margin-left: 20%;
        margin-top: 3%;
        width: 70%;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 75%;
        line-height: 19px;
    
        color: #ffffff
    }

    .verifyAlertText1{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 75%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
    
        color: #000000;
    }

    .verifyAlertText2{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 75%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 34%;
    
        color: #000000;
    }

    .verifyAlertText3{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 75%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 28%;
    
        color: #000000;
    }

    .verifyAlertText4{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 75%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 30%;
    
        color: #000000;
    }

    .verifyAlertText5{
        font-family: Open Sans;
        font-style: normal;
        font-size: 75%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 103%;
    
        color: #000000;
    }

   .checkBoxVerify1{
        position: absolute;
        left: 14px;
        top: 37px;
        height: 20px;
   }
   .checkBoxVerify2{
        position: absolute;
        left: 14px;
        top: 114px;
        height: 20px;
   }
   .checkBoxVerify3{
        position: absolute;
        left: 14px;
        top: 198px;
        height: 20px;
   }
}

@media (width: 375px) {
    .bigCheckIcon{
        position: absolute;
        width: 18px;
        height: auto;
        left: 40px;
        top: 298px;
        filter: drop-shadow(0px 4px 4px rgba(84, 114, 174, 0.2));
    }
    .applicationLogo{
        position: absolute;
        width: 60px;
        height: auto;
        left: 20px;
        top: 20px
    }

    .txDetailFileName{
        margin-left: 20%;
        margin-top: 3%;
        width: 70%;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 100%;
        line-height: 19px;
    
        color: #3BCCFA
    }
    .txDetailText{
        margin-left: 20%;
        margin-top: 3%;
        width: 70%;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 75%;
        line-height: 19px;
    
        color: #ffffff
    }

    .verifyAlertText1{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 75%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
    
        color: #000000;
    }

    .verifyAlertText2{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 75%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 32%;
    
        color: #000000;
    }

    .verifyAlertText3{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 75%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 30%;
    
        color: #000000;
    }

    .verifyAlertText4{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 75%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 11%;
    
        color: #000000;
    }

    .verifyAlertText5{
        font-family: Open Sans;
        font-style: normal;
        font-size: 75%;
        line-height: 19px;
    
        display: flex;
        align-items: center;
        padding-top: 75%;
    
        color: #000000;
    }

   .checkBoxVerify1{
        position: absolute;
        left: 9px;
        top: 30px;
        height: 25px;
   }
   .checkBoxVerify2{
        position: absolute;
        left: 9px;
        top: 108px;
        height: 25px;
   }
   .checkBoxVerify3{
        position: absolute;
        left: 9px;
        top: 185px;
        height: 25px;
   }
}

