.edited-container {
    overflow: hidden;
    position: relative;

    top: 20px;
    left: 56px;
    width: 300px;
    height: 300px;
    border-radius: 15px;

    mix-blend-mode: normal;
}

.edited {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
 }

.verifyButton{
    position: absolute;
    width: 130px;
    height: 38px;
    left: 141px;
    top: 485px;

    background: rgba(255, 255, 255, 0.7);
    mix-blend-mode: screen;
    border-radius: 100px;
}

.verifyButton:hover{
    cursor: pointer;
}

.verifyText{
    position: absolute;
    width: 88px;
    height: 22px;
    left: 20px;
    top: 7px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    
    text-align: center;
    
    color: #052D79;
}

.verifyBackground{
    position: absolute;
    top: 20px;
    left: 38px;
    width: 300px;
    height: 300px;
    border-radius: 15px;

    background: #FFFFFF;
}

.txDetailText{
    position: absolute;
    left: 66px;
    max-width: 300px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #ffffff
}

.verifyAlertText{
    position: absolute;
    height: 19px;
    left: 80px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.VerifyProgress{
    position: absolute;
    width: 13px;
    height: 200px;
    left: 36px;
    top: 31px;
}

.VerifyProgressBar{
    height: 0%;
    width: 100%;
    background: linear-gradient(179.95deg, #23B1EE -3.46%, #F84949 112.7%);
    color: black;
    border-radius: 100px;
}