@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
.fullPage{
    width: 1440px;
    height: 898px;
    position: relative;
    background-image: url("./assets/backgroundImage.png");
}
.activePageText{
    position: absolute;
    width: 58px;
    height: 26px;
    top: 24px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #3BCCFA;
}
.inactivePageText{
    position: absolute;
    width: 106px;
    height: 26px;
    top: 24px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.9);
}
.inactivePageText:hover{
    color: #3BCCFA
}

.metamaskBackground{
    position: absolute;
    width: 190px;
    height: 38px;
    left: 1175px;
    top: 18px;

    background: linear-gradient(99.51deg, #23B1EE 20.6%, #005BC7 133.71%);
    border-radius: 100px;
}
.metamaskText {
    position: absolute;
    height: 22px;
    left: 1199px;
    top: 26px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;
}
.metamaskText .metamaskTextText{
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.metamaskText:hover .metamaskTextText{
    cursor: pointer;
    visibility: visible;
} 


.metamaskConnectedText {
    position: absolute;
    height: 22px;
    left: 1199px;
    top: 26px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;
}

.metamaskConnectedText .metamaskConnectedTextText{
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.metamaskConnectedText:hover .metamaskConnectedTextText{
    cursor: pointer;
    visibility: visible;
} 


.applicationName {
    position: absolute;
    width: 428px;
    height: 45px;
    left: 508px;
    top: 123px;

    font-family: Orbitron;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.08em;

    color: #E8F0F5;
}

.buttonActiveBackground{
    position: absolute;
    width: 168px;
    height: 48px;
    top: 239px;

    background: rgba(0, 117, 255, 0.6);
    mix-blend-mode: screen;
}

.buttonActiveBackground:hover{
    cursor: pointer;
}

.buttonActiveText{
    position: absolute;
    height: 25px;
    top: 251px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.buttonActiveText:hover{
    cursor: pointer;
}

.buttonInactiveBackground{
    position: absolute;
    width: 168px;
    height: 48px;
    top: 239px;

    background: rgba(67, 122, 146, 0.2);
    mix-blend-mode: screen;
}

.buttonInactiveBackground:hover{
    cursor: pointer;
}

.buttonInactiveText{
    position: absolute;
    height: 25px;
    top: 251px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.buttonInactiveText:hover{
    cursor: pointer;
}

.chooseFileBackground{
    position: absolute;
    width: 841px;
    height: 252px;
    left: 300px;
    top: 287px;

    background: rgba(0, 117, 255, 0.6);
mix-blend-mode: screen;
}

.dragFilesText{
    position: absolute;
    height: 25px;
    left: 573px;
    top: 401px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.fileText{
    position: absolute;
    height: 25px;
    left: 718px;
    top: 351px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.fileSize{
    position: absolute;
    height: 19px;
    left: 718px;
    top: 378px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.8);
}

.browseFilesBackground{
    position: absolute;
    width: 130px;
    height: 38px;
    left: 656px;
    top: 461px;
    
    background: rgba(255, 255, 255, 0.7);
    mix-blend-mode: screen;
    border-radius: 100px;
}

label{
    position: absolute;
    width: 94px;
    height: 22px;
    left: 674px;
    top: 469px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #052D79;
}
label:hover{
    cursor: pointer;
}

.footer{
    position: absolute;
    width: 1440px;
    height: 177px;
    left: 0px;
    top: 721px;

    background: rgba(0, 0, 0, 0.62);
}

.number{
    position: absolute;
    width: 104px;
    height: 30px;
    left: 370px;
    top: 584px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.text{
    position: absolute;
    width: 137px;
    height: 20px;
    left: 370px;
    top: 616px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: left;

    color: #FFFFFF;
}

.publishText{
    position: absolute;
    width: 94px;
    height: 22px;
    left: 674px;
    top: 469px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #052D79;
}

.publishText:hover{
    cursor: pointer;
}

.borderFile{
    position: absolute;
    width: 544px;
    height: 114px;
    left: 449px;
    top: 317px;

    border: 1px dashed #3BCCFA;
    box-sizing: border-box;
}

.alertBackground{
    position: absolute;
    width: 600px;
    left: 420px;

    background: #FFFFFF;
}

.alertText{
    position: absolute;
    height: 19px;
    left: 648px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.alertSuccessCheckBar{
    position: absolute;
    width: 15px;
    height: 293px;
    left: 617px;
    top: 317px;

    background: linear-gradient(179.95deg, #23B1EE -3.46%, #005BC7 112.7%);
    border-radius: 100px;
}

.alertFailCheckBar{
    position: absolute;
    width: 15px;
    height: 132px;
    left: 557px;
    top: 450px;

    background: linear-gradient(179.95deg, #23B1EE -3.46%, #F84949 112.7%);
    border-radius: 100px;
}

.alertFailTitle{
    position: absolute;
    height: 19px;
    left: 588px;
    top: 567px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #F84949;
}

.alertSuccessBigTitle{
    position: absolute;
    height: 19px;
    left: 648px;
    top: 576px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #1FA7EA;
}

.alertSuccessTitle{
    position: absolute;
    width: 252px;
    height: 32px;
    left: 648px;
    top: 597px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #6F6F6F;
}

.alertBackgroundFade{
    position: absolute;
    width: 1440px;
    height: 898px;
    left: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.42);
}

.Progress{
    position: absolute;
    width: 15px;
    height: 132px;
    left: 557px;
    top: 450px;
}

.ProgressBar{
    height: 0%;
    width: 100%;
    background: linear-gradient(179.95deg, #23B1EE -3.46%, #F84949 112.7%);
    color: black;
    border-radius: 100px;
}