@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.fullPage{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("./assets/backgroundImage.png");
    background-size: cover;
}

.logoVBC{
    position: absolute;
    width: 11%;
    height: auto;
    left: 5.4%;
    top: 2.19244823386%;
}

.navigationIcon{
    position: absolute;
    width: 1.38888888889%;
    height: auto;
    top: 3%;
}

.activeNavigationText{
    position: absolute;
    top: 2.7%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3vw;
    display: flex;
    align-items: center;

    color: #3BCCFA;
}

.activeNavigationText:hover{
    cursor: pointer;;
}

.inactiveNavigationText{
    position: absolute;
    top: 2.7%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.9);
}

.inactiveNavigationText{
    cursor: pointer;
}

.metamaskBackground{
    position: absolute;
    width: 13.1944444444%;
    height: 4.25%;
    left: 81.5972222222%;
    top: 2%;

    background: linear-gradient(99.51deg, #23B1EE 20.6%, #005BC7 133.71%);
    border-radius: 100px;
}

.metamaskText {
    position: absolute;
    left: 83.2638888889%;
    top: 2.7%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.15vw;
    text-align: center;

    color: #FFFFFF;
}
.metamaskText .metamaskTextText{
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.metamaskText:hover .metamaskTextText{
    cursor: pointer;
    visibility: visible;
} 


.metamaskConnectedText {
    position: absolute;
    left: 83.2638888889%;
    top: 2.7%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.15vw;
    text-align: center;

    color: #FFFFFF;
}

.metamaskConnectedText .metamaskConnectedTextText{
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.metamaskConnectedText:hover .metamaskConnectedTextText{
    cursor: pointer;
    visibility: visible;
} 

.applicationName{
    position: absolute;
    left: 39.5%;
    top: 13.6666666667%;

    font-family: Orbitron;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    letter-spacing: 0.08em;

    color: #E8F0F5;
}

.applicationInformation{
    position: absolute;
    width: 3.75%;
    height: auto;
    top : 70.7777777778%;
}

.applicationInformationNumber{
    position: absolute;
    top: 70%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vw;

    color: #FFFFFF;
}

.applicationInformationText{
    position: absolute;
    top: 75%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1vw;
    text-align: left;

    color: #FFFFFF;
}

.buttonActiveBackground{
    position: absolute;
    width: 11.6666666667%;
    height: 5.84652862363%;
    top: 29.1108404385%;

    background: rgba(0, 117, 255, 0.6);
    mix-blend-mode: screen;
}

.buttonActiveBackground:hover{
    cursor: pointer;
}

.buttonActiveText{
    position: absolute;
    top: 30.5724725944%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3vw;

    text-align: center;

    color: #FFFFFF;
}

.buttonActiveText:hover{
    cursor: pointer;
}

.buttonInactiveBackground{
    position: absolute;
    width: 11.6666666667%;
    height: 5.84652862363%;
    top: 29.1108404385%;

    background: rgba(67, 122, 146, 0.2);
    mix-blend-mode: screen;
}

.buttonInactiveBackground:hover{
    cursor: pointer;
}

.buttonInactiveText{
    position: absolute;
    top: 30.5724725944%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3vw;

    text-align: center;

    color: #FFFFFF;
}

.buttonInactiveText:hover{
    cursor: pointer;
}

.chooseFileBackground{
    position: absolute;
    width: 58.4027777778%;
    height: 30.6942752741%;
    left: 20.8333333333%;
    top: 34.9573690621%;

    background: rgba(0, 117, 255, 0.6);
    mix-blend-mode: screen;
}

.dragFilesText{
    position: absolute;
    left: 32.461355529%;
    top: 45.238095238%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;

    text-align: center;

    color: #FFFFFF;
}

.fileText{
    position: absolute;
    left: 49.8611111111%;
    top: 42.7527405603%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.fileSize{
    position: absolute;
    left: 49.8611111111%;
    top: 46.0414129111%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;

    color: rgba(255, 255, 255, 0.8);
}

.browseFilesBackground{
    position: absolute;
    width: 15.457788347%;
    height: 15.079365079%;
    left: 42.330558858%;
    top: 69.047619047%;
    
    background: rgba(255, 255, 255, 0.7);
    mix-blend-mode: screen;
    border-radius: 100px;
}

.browseFilesBackground:hover{
    cursor: pointer;
}

.browseFile{
    position: absolute;
    width: 11.177170035%;
    height: 8.73015873%;
    left: 44.470868014%;
    top: 72.222222222%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1vw;

    text-align: center;

    color: #052D79;
}

.browseFile:hover{
    cursor: pointer;
}

.footer{
    position: absolute;
    width: 100%;
    height: 15%;
    top: 85%;

    background: rgba(0, 0, 0, 0.62);
}


.publishText{
    position: absolute;
    width: 6.52777777778%;
    left: 46.8055555556%;
    top: 57.12545676%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1vw;

    text-align: center;

    color: #052D79;
}

.publishText:hover{
    cursor: pointer;
}

.borderFile{
    position: absolute;
    width: 37.7777777778%;
    height: 13.8855054811%;
    left: 31.1805555556%;
    top: 38.6114494519%;

    border: 1px dashed #3BCCFA;
    box-sizing: border-box;
}

.alertBackground{
    position: absolute;
    width: 41.6666666667%;
    left: 29.1666666667%;
    top: 18.5140073082%;
    height: 60.5359317905%;

    background: #FFFFFF;
}

.alertText{
    position: absolute;
    left: 45%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.alertSuccessCheckBar{
    position: absolute;
    width: 15px;
    height: 293px;
    left: 617px;
    top: 317px;

    background: linear-gradient(179.95deg, #23B1EE -3.46%, #005BC7 112.7%);
    border-radius: 100px;
}

.alertFailTitle{
    position: absolute;
    left: 40.8333333333%;
    top: 69.0621193666%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8vw;

    color: #F84949;
}

.alertSuccessBigTitle{
    position: absolute;
    left: 45%;
    top: 70.1583434836%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;

    color: #1FA7EA;
}

.alertSuccessTitle{
    position: absolute;
    left: 45%;
    top: 72.7161997564%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8vw;
    display: flex;
    align-items: center;

    color: #6F6F6F;
}

.alertBackgroundFade{
    position: absolute;
    width: 100%;
    height: 100vh;

    background: rgba(0, 0, 0, 0.42);
}

.Progress{
    position: absolute;
    width: 1.04166666667%;
    height: 35.6881851401%;
    left: 42.8472222222%;
    top: 38.6114494519%;
}

.ProgressBar{
    height: 0%;
    width: 100%;
    background: linear-gradient(179.95deg, #23B1EE -3.46%, #F84949 112.7%);
    color: black;
    border-radius: 100px;
}

.descriptionText{
    position: absolute;
    width: 37.7777777778%;
    left: 31.1805555556%;
    top: 49.3300852619%;

    border: none;
    background-color: inherit;
    color: #ffffff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
}

.descriptionText::placeholder{
    position: absolute;
    left: 35.8888888889%;

    color: #ffffff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
}

.closeButton{
    position: absolute;
    width: 1.66666666667%;
    height: auto;
    left: 41.6666666667%;
    top: 43.8489646772%;
}

.closeButton:hover{
    cursor: pointer;
}

.checkIcon{
    position: absolute;
    width: 1.80555555556%;
    height: auto;
    left: 42.4305555556%
}

.loader {
    position: absolute;
    left: 42.4305555556%;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 1.38888888889%;
    height: 2.43605359318%;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
